.nav-bar-container {
  display: flex;
  justify-content: center;
}

.nav-bar {
  border: 3px solid black;
  display: flex;
  justify-content: space-evenly;
  width: 35vw;
  margin-top: 1vh;
  background-color: black;
  border-radius: 3%;
}
.nav-bar-link {
  text-decoration: none;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: large;
}
